@{
    ViewData["Title"] = "Tela tipo de Usuario";
}


   
<form class="justify-content-center">
    <div class="container-fluid-eng-soft row m-3 justify-content-center">
        <img src="~/logouel.jpg" width="695" height="198" />
    </div>

    <div class="row justify-content-center mg-5">
        <label class="text-login justify-content-center">Sistema de Ensalamento</label>
    </div>

    <div class="row justify-content-center mg-5">
        <a class="btn button-users link-type-user" role="button" asp-controller="Login" asp-action="AuthenticateUser">Secretaria Geral</a>
    </div>

    <div class="row justify-content-center  mg-5">
        <a class="btn button-users link-type-user" role="button" asp-controller="Login" asp-action="AuthenticateUser">Coordenador de curso</a>
    </div>

    <div class="row justify-content-center mg-5">
        <a class="btn button-users link-type-user" role="button" asp-controller="Login" asp-action="AuthenticateUser">Professor</a>
    </div>

    <div class="row justify-content-center mg-5">
        <a class="btn button-users link-type-user" role="button" asp-controller="Login" asp-action="AuthenticateUser">Estudante</a>
    </div>

</form>