@{
    ViewData["Title"] = "Tela Login";
}


   
<form class="justify-content-center">
    <div class="container-fluid-eng-soft row m-3 justify-content-center">
        <img src="~/Images/logouelbranco.png" width="695" height="198" />
    </div>

    <div class="row justify-content-center mg-5">
        <label class="text-login justify-content-center">Sistema de Ensalamento</label>
    </div>

    <div class="row justify-content-center mg-5">
        <button class="btn button-users" type="button">Secretaria Geral</button>
    </div>

    <div class="row justify-content-center mg-5">
        <button class="btn button-users" type="button" >Coordenador de curso</button>
    </div>

    <div class="row justify-content-center mg-5">
        <button class="btn button-users" type="button">Professor</button>
    </div>

    <div class="row justify-content-center mg-5">
        <button class="btn button-users" type="button">Estudante</button>
    </div>

</form>